html, body,p {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

span {
  color:red;
}
@font-face {
  font-family: inconsolata-reg;
  src: url(/fonts/Inconsolata-Regular.ttf)
}
@font-face {
  font-family: inconsolata-light;
  src: url(/fonts/Inconsolata-Light.ttf)
}

@font-face {
  font-family: librebaskerville-italic;
  src: url(/fonts/LibreBaskerville-Italic.ttf)
}