html, body,p {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
}

span { 
  color:blue;
  
}
span:hover {
 font-weight: 900;
 background: white;
}

#pop {
  font-family: librebaskerville-reg;
  font-size: 12px;
  text-align: center;
  background: white;
}

#mini_p {
  margin: 5px;
}

@font-face {
  font-family: inconsolata-reg;
  src: url(/fonts/Inconsolata-Regular.ttf)
}
@font-face {
  font-family: inconsolata-light;
  src: url(/fonts/Inconsolata-Light.ttf)
}

@font-face {
  font-family: librebaskerville-reg;
  src: url(/fonts/LibreBaskerville-Regular.ttf)
}

@font-face {
  font-family: librebaskerville-italic;
  src: url(/fonts/LibreBaskerville-Italic.ttf)
}

@font-face {
  font-family: nunito-light;
  src: url(/fonts/Nunito-Light.ttf)
}

@font-face {
  font-family: nunito-light-italic;
  src: url(/fonts/Nunito-LightItalic.ttf)
}